*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

header{
    height: 75px;
    width: 100%;
    
}

.barra-late{
    width: 150px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-image: url(../img/sidebar-bg.png);

}

.barra-alta{
    width: 100%;
}

.barra-bassa{
    width: 100%;
}

.maincontainer{
    background-color: rgb(170, 70, 70);
    height: calc(100vh - 75px);
    display: flex;
    width: 100vw;
    
}

.maincontent{
    width: calc(100vw - 150px);
    background-color: white;
    overflow-y: auto;
    
    
}

.bg-liteblue{
    background-color: rgb(27,114,232);
}

.bg-bianco{
    background-color: white;
}

.underline{
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(22,91,186);
}

.underline-green{
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(19, 136, 39);
}

.underline-red{
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(211, 32, 20);
}

.underline-yellow{
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(219, 216, 33);
}

.size-img{
    width: 75px;
    height: 75px;
}



@media screen and (min-width:0) and (max-width:991px) {
    .barra-late{
        width: 60px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }

    .maincontent{
        width: calc(100vw - 60px);
        background-color: white;
        overflow-y: auto;
        
        
    }
}