*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

header{
    height: 75px;
    width: 100%;
    
}

.barra-late{
    width: 150px;
    background-color: rgb(0, 0, 0);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.barra-alta{
    width: 100%;
}

.barra-bassa{
    width: 100%;
}

.maincontainer{
    background-color: rgb(170, 70, 70);
    height: calc(100vh - 75px);
}

.maincontent{
    width: 100%;
    background-color: white;
    overflow-y: auto;
    
}

.bg-liteblue{
    background-color: rgb(27,114,232);
}

.bg-bianco{
    background-color: white;
}

